@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    overflow: hidden;
}
p{
    font-family: Kanit;
    color: #585858;
    font-size:20px;
    font-weight: 500;
    position: absolute;
    left: 670px;
    top: 295px
}
.i8 {
    position: absolute;
    top: 75px;
    right: 0px;
    width: 100%;
}
.i9{
    position: absolute;
    left: 670px;
    top: 350px
}
.continue {
    font-size: 16px;
    background-color: #484848;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    position: absolute;
    bottom: 100px;
    right: 100px;
    width: 77.63px;
    height: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-decoration: underline;
}
.continue:hover {
    background-color: #8a8686;
}
input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 200px;
    background-color: #e0e0e0;
}
input[type="name,number"] {
    width: 80px;
    background-color: #e0e0e0;
}
.name {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
    color: #585858;
    margin: 10px 0 20px;
    position: absolute;
    left: 670px;
    top: 350px;
    width: 825px;
    height: 266px;
}
.age {
    font-family: Kanit;
    font-size: 20px;
    font-weight: 500;
    color: #585858;
    margin: 10px 0 20px;
    position: absolute;
    left: 950px;
    top: 350px;
    width: 825px;
    height: 266px;
}
.inputname {
    position: absolute;
    left: 670px;
    top: 400px;
}
.inputage{
    position: absolute;
    left: 950px;
    top: 400px;
}
