.continue {
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.continue {
    background-color: #484848;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.continue:hover {
    background-color: #8a8686;
}

p {
    font-family: Kanit;
    font-size: 20px;
    color: #585858;
    margin: 10px 0 20px;
    position: absolute;
    top: 200px;
    left: 500px;
    width: 825px;
    height: 266px;
}

/* .i6 {
    position: absolute;
    top: 200px;
    right: 5px;
    width: 100%;
} */

.i6 {
    display: block;
    margin-top: 13%;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}