@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    background-color: rgb(245, 245, 245);
}

.i1 {
    transform: translate(80vh, 0px);
    position: absolute;
}

.i2 {
    position: absolute;
    bottom: 100px;
    left: 100px;
}

.continue {
    background-color: #484848;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}

.continue:hover {
    background-color: #8a8686;
}

body {
    font-family: Montserrat;
    margin: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

h1 {
    font-size: 100px;
    font-weight: 900;
    color: #484848;
    position: absolute;
    top: 30px;
    left: 100px;
}
p {
    font-family: Kanit;
    font-size: 20px;
    color: #585858;
    margin: 10px 0 20px;
    position: absolute;
    top: 200px;
    left: 120px;
    width: 405px;
    height: 129px;
}
