<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page3.css') }}">
</head>

<body>
    <img class="i3" src="{{ url_for('static', filename='img/i3.png') }}" width="1147" height="790" alt="">
    <form action="{{url_for('page4')}}" method="GET">
        <div class="name">
            <label for="">ชื่อ (name)</label>
            <input type="text" name="fname" class="form-control">
        </div>
        <div class="age">
            <label for="">อายุ (age)</label>
            <input type="text" name="fage" class="form-control">
        </div>
        <br>
    </form>
    <!-- <a href="/page4"><input type="submit" value="ต่อไป"></a> -->
    <a class="continue" href="/page4">ต่อไป</a>
</body>

</html>