<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="objective.css">
</head>
<body>
    <h1>วัตถุประสงค์ </h1>
    <p>เรื่องราวนี้มีวัตถุประสงค์เพื่อรับฟังปัญหาความเครียดและให้กำลังใจเท่านั้น <br>
        ไม่ได้มีเจตนาตัดสินบุคคลใด ซึ่งข้อมูลนี้จะไม่ถูกบันทึกเก็บไว้<br>
        <br>โปรเจคนี้จัดทำขึ้นเพื่อเป็นส่วนหนึ่งของรายวิชา<br>
        Problem solving and computer programming
    </p>
    <a class="continue" href="page3.html">ต่อไป</a>
</body>
</html>