<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page8.css') }}">
</head>

<body>
    <img class="i7" src="{{ url_for('static', filename='img/i7.svg') }}" width="356" height="446" alt="">
    <h3>ถึง {{username}}</h3>
    <p>พักได้นะ แต่อย่ายอมแพ้เลย สู้มาตั้งไกลแล้ววว เราอยากให้ {{username}} เชื่อในตัวเองนะ</p>
    <a class="continue" href="/page9">ต่อไป</a>
</body>

</html>