<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page7.css') }}">
</head>

<body>
    <div>
        <label for=""></label>
        <textarea class="textarea" name="textarea" cols="130" rows="35"></textarea>
    </div>
    <p>แล้วมีเรื่องที่ไม่สบายใจไหม พิมพ์บอกได้นะ</p>
    <a class="continue" href="/page8">ต่อไป</a>
    <!-- <a href="/page8"><input type="submit" value="ต่อไป"></a> -->

</body>

</html>