.i3{
    transform: translate(50vh ,-50px)  ;
    position: absolute;
    
}
.continue{
    background-color: #484848;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    position: absolute;
    bottom: 100px;
    right: 100px;
}
.continue:hover{
    background-color: #8a8686;
}