<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page3.css') }}">
</head>
<body>
    <p>เริ่มต้นเรื่องราวของ</p>
    <img class="i8" src="{{ url_for('static', filename='img/i8.png') }}" width="1440" height="1006" alt="">
    <img class="i9" src="{{ url_for('static', filename='img/i9.png') }}" width="501" height="2" alt="">
    <form action="{{ url_for('submit') }}" method="post">
        <div class="name">
            <label for="username">ชื่อ (name)</label>
        </div>
        <div class="inputname">
            <input type="text" id="username" name="username" placeholder="Your Name" required>
        </div>
        <div class="age">
            <label for="age">อายุ (age)</label>
        </div>
        <div class="inputage">
            <input type="number" id="age" name="age" placeholder="Your Age" required>
        </div>
        <input  class="continue"  type="submit" value="ต่อไป">
    </form>
</body>
</html>