<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page3.css') }}">
</head>

<body>
    <img class="i3" src="{{ url_for('static', filename='img/i3.png') }}" width="1147" height="790" alt="">
    <form action="{{ url_for('submit') }}" method="post">
        <div class="name">
            <label for="">ชื่อ (name)</label>
            <input type="text" name="username" placeholder="Your Name" required>
        </div>
        <div class="age">
            <label for="">อายุ (age)</label>
            <input type="text" name="age" placeholder="Your age" required>
        </div>
        <br>
        <input class="continue" type="submit" value="ต่อไป">
        <!-- <a><input type="submit" value="ต่อไป"></a> -->
        <!-- <a class="continue" type="submit" href="/page4">ต่อไป</a> -->
    </form>
</body>

</html>