<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page6.css') }}">
</head>

<body>
    <div>
        <label for=""></label>
        <textarea name="" cols="100" rows="20" required></textarea>
    </div>
    <p>ไหนลองบอกสิ่งที่ชอบมาหน่อยยย เราว่าน่าสนใจแน่เลยย</p>
    <a class="continue" href="/page7">ต่อไป</a>
    <!-- <a href="/page7"><input type="submit" value="ต่อไป"></a> -->
</body>

</html>