<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="page3.css">
</head>
<body>
    <img class="i3"src="img/i3.png" width="1147" height="790" alt="">
    <form action="{{url_for('helloname')}}" method="GET">
        <div class="form-group">
            <label for="">ชื่อ (name)</label>
            <input type="text" name="fname" class="form-control">
        </div>
        <div class="form-group">
            <label for="">อายุ (age)</label>
            <input type="text" name="fage" class="form-control">
        </div>
        <br>
    </form>
    
    <a class="continue" href="page4.html">ต่อไป</a>
</body>
</html>