<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page5.css') }}">
</head>

<body>
    <img class="i6" src="{{ url_for('static', filename='img/i6.svg') }}" width="1056" height="514" alt="">
    <p>ไม่ว่าจะสุข หรือ ทุกข์ เราก็เชื่อว่า ยังมีวันดี ๆ ข้างหน้ารอ {{username}} อยู่นะ</p>
    <a class="continue" href="{{ url_for('page6', username=username) }}">ต่อไป</a>

</body>

</html>