<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WELL U</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='page4.css') }}">
</head>

<body>
    <img class="i5" src="{{ url_for('static', filename='img/i5.svg') }}" width="764px" height="712px" alt="">
    <p>การเดินทางอันแสนยาวนานตลอด {{data.age}} ปีของ {{data.name}}</p>
    <!-- <a class="continue" href="/page5"><input type="submit" value="ต่อไป"></a> -->
    <a class="continue" href="/page5">ต่อไป</a>
</body>

</html>